.site-footer-eight {
	.copyright-wrap {
		@include bp(lg) {
			text-align: right;
		}
	}
	.social-profile {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding-bottom: 20px;
	}
	.footer-menu {
		@include bp(lg) {
			text-align: left;
			display: block;
			ul {
				li {
					&:first-child {
						border-left: none;
					}
				}
			}
		}
		@include bp(lgx) {
			margin-bottom: 20px;
		}
	}
	.bottom-footer-image-wrap {
		@include bp(lgx) {
			margin-bottom: 20px;
		}
	}
}