// Theme
// $primary-color: #f9a032;
$primary-color: #EB5A3E;
$alt-color: #086abd;
$title-color: #030303;
$light-color: #ffffff;
$dark-color: #000000;

// Default
$danger-color: #D9534F;
$info-color: #5BC0DE;
$success-color: #5CB85C;
$warning-color: #F0AD4E;
$disable-color: #CCC;

// Font Family
$site-identity-font: 'Poppins', sans-serif;
$primary-font: 'Open Sans', sans-serif;
$title-font: 'Poppins', sans-serif;
$icon-font: 'kf-icons';

// Line Hight
$body-line-height: 1.6;
$title-line-height: 1.3;

$container-width: 1140px !default;
$full-width: 100% !default;
$main-panel-width: 75% !default;
$sidebar-width: 25% !default;