table {
  border-collapse: collapse;
  border: 1px solid darken($light-color, 8%);
  border-spacing: 0;
  width: 100%;
  tr {
    border-bottom: 1px solid darken($light-color, 8%);
  }
  th {
    font-weight: 700;
  }
  th, td {
    border-bottom: 1px solid darken($light-color, 8%);
    padding: 8px;
  }
  caption {
    text-align: left;
  }
}